body {
  background-image: url("pic.jpg");
  background-size: 100%;
  background-position: top;
}

h1 {
  color: orange;
  font-family:  cursive;
  font-size: 60px;
  text-shadow: 2px, 2px;
  text-decoration-color: white;
}

#scream {
  width: max-content;

}
